@{
    ViewData["Title"] = "Home Page";
}


<!-- slide show -->
<div class="slideshow">

    <div class="text-center title">
        <h1 style="font-size:102px">Welcome to AudioCity</h1>
        <p>Malaysia top websites for music freelancing.</p>
    </div>


    <div class="slide slide-1"></div>
    <div class="slide slide-2"></div>
    <div class="slide slide-3"></div>
    <div class="slide slide-4"></div>
</div>

<div class="container-fluid row">


</div>


<div class="container-fluid row">


</div>




