@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-3 seller-dashboard-side-panel">
    <div class="profile-picture">
    </div>
    <h5 style="font-weight:bold;text-align:center;margin-top:15px;">Adam Lim</h5>
    <div class="seller-info-container">
    <div>
    <img src="~/static/birthday-cake.png" width="24" height="24" />
    <span style="color:dimgray;margin-left:5px;">Birthday at</span>
    <span style="font-weight:700">19/7/2021</span>
    </div>
    <div style="margin-top:15px;">
        <img src="~/static/book.png" width="24" height="24" />
        <span style="color:dimgray;margin-left:5px;">Contact me at</span>
        <span style="font-weight:700">01123455719</span>
    </div>
    <div style="margin-top:15px;">
        <img src="~/static/member-card.png" width="24" height="24" />
        <span style="color:dimgray;margin-left:5px;">Member since</span>
        <span style="font-weight:700">May 2019</span>
    </div>
    </div>
</div>
