@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Html.AntiForgeryToken()
<div class="create-new-gig-container">
    <div class="row" style="margin:0;">
        <div class="col-12" id="create-new-gig-form-col" style="height:900px;">
            <div class="register-form" id="form-section">
                <form asp-controller="SellerDashboard" asp-action="CompleteOrder" method="post" enctype="multipart/form-data">
                    <h4 style="text-align:center;font-weight:bold;">Submit Content</h4>
                    <hr />
                    <div class="form-group">
                        <label>Content (Video, Audio, or Zip for multiple files)</label>
                        <input type="hidden" value="@ViewBag.GigId" name="GigId"/>
                        <input type="hidden" value="@ViewBag.OrderId" name="OrderId" />
                        <input type="file" accept="audio/*,video/*,.zip,.rar,.7zip" class="form-control" name="Content" />
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <span class="text-danger">@ViewBag.ErrorMessage</span>
                        }
                    </div>

                    <button type="submit" class="btn btn-primary" style="margin-bottom:15px;">Confirm</button>
                    <button class="btn btn-danger btn-block" onclick="window.history.back();">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>